<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?= /* @noEscape */ $_menuHtml?>
        <?= $block->getChildHtml() ?>
        <li class="level0 nav-6 category-item last level-top ui-menu-item">
            <a href="<?= $block->getUrl('blog') ?>" class="level-top ui-menu-item-wrapper" role="menuitem">
            <span>Blog</span>
            </a>
       </li>
    </ul>
</nav>