
    .blog-index-index {
        .blog  {
           display: flex;
           flex-direction: column;
           flex-wrap: nowrap;
           align-items: center;
           //zoom: 80%;
    
           .title-blog {
              text-align: center;
              margin-bottom: 56px;
    
              > h1 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 5rem;
                font-weight: 500;
      
               }
               > h3 {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-style: italic;
                font-weight: 400;
    
               }
            }
           .form-blog {
                 border: 1px solid black;
                 padding: 12px;
                 border-radius: 10px;
                 //zoom: 90%;

                 @media (min-width: 1440px){
                   // width: 74vw;
                 } 
                 @media (min-width: 1360px) and (max-width: 1440px) {
                   // width: 124vw;
                 } 
                 @media (min-width: 1024px) and (max-width: 1440px) {
                   // width: 104vw;
                 }


                    .form {
                       display: flex;
                       flex-direction: row;
                       flex-wrap: nowrap;
                       justify-content: center;
        
                      .input {
                          padding: 10px 24px;
                          text-align: left;

                         @media (min-width: 1440px) {
                            width: 48vw;
                         } 

                         @media (min-width: 1360px) and (max-width: 1440px) {
                            width: 64vw;
                         }

                         @media (min-width: 1024px) and (max-width: 1360px) {
                            width: 64vw;
                         }

                         @media (min-width: 884px) and (max-width: 1024px) {
                            width: 62vw;
                            
                         }

                         @media (min-width: 600px) and (max-width: 884px) {
                            width: 56vw;
                            
                         }


                          > h2 {
                            margin-top: 0;
                            margin-bottom: 2rem;
                            font-weight: 600;
                            font-size: 3.5rem;
    
                           }
    
                        }
    
                        .actions-toolbar {
                            padding-top: 64px;
    
                           .primary .action {
                               margin: 0;
                               padding: 8px 70px;
    
                            }
      
                        }
                    }
            }
    
        }  
    
        .list-blog {
            padding: 120px 18px;

            @media (min-width: 1280px) {
                padding: 120px 54px;
             } 
        
            .item-blog {
                border: 1px solid black;
                padding: 0px 14px;
                border-radius: 10px;
                margin-bottom: 1vw;

                @media (min-width: 1680px) {
                    width: 48vw;
                    margin-right: 22vw;
                 } 

                 @media (min-width: 1440px) and (max-width: 1680px) {
                    width: 48vw;
                    
                 } 

                 @media (min-width: 1360px) and (max-width: 1440px) {
                    width: 48vw;
                   
                 }

                 @media (min-width: 1024px) and (max-width: 1360px) {
                    width: 78vw;
                    
                    
                 }
 
                 @media (min-width: 600px) and (max-width: 1024px) {
                    width: auto;
                    
                 }


                .item-blog-head {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding: 8px;
    
                    .item-blog-title {
                        h1 {
                            margin-bottom: 0;
                        }
                        h2 {
                            margin: 0;
                            font-weight: 600;
                            font-size: xx-large;
                            text-transform: capitalize;
    
                        }
                    }
                }
    
    
                .item-blog-info {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    padding: 10px;
                    align-items: flex-start;
    
                    .item-blog-img {
                        img {
                            max-width: 240px;
        
                        }
                    }
    
                    .item-blog-comment {
                        width: 100%;
                        padding-left: 40px;
                        p {
                            font-size: larger;
                            font-weight: 500;
                        }
    
                    }
                }
                
            }
        }
    }


        
