<?php
	$collection = $block->getDataCollection();
?>
<div class="blog">
    <div class="title-blog">
             <h1><?= $block->escapeHtml(__('My spectacular blog')) ?></h1>
             <h3><?= $block->escapeHtml(__('A totally false statement')) ?></h3>
    </div>
    <div class="form-blog">
       <form name="blog-form" id="blog-form" class="form-horizontal" method="post" enctype="multipart/form-data" 
       action="<?php echo $this->getUrl("blog/index/add")?>"  data-mage-init='{"validation": {}}'>
       <div class="form">
            <div class="input">
              <h2><?= $block->escapeHtml(__('New blog post')) ?></h2>
                <fieldset class="fieldset">
                  <div class="field title required">
                     <div class="control">
                         <input name="title" id="title" class="input-text" type="text" placeholder="<?= $block->escapeHtml(__('My post title')) ?>" data-validate="{required:true, 'validate-alphanum-with-spaces':true}"/>
                     </div>
                  </div>
                  <div class="field comment required">
                       <div class="control">
                           <textarea name="comment" id="comment" class="input-text" cols="5" rows="6"  data-validate="{required:true, 'validate-alphanum-with-spaces':true}"></textarea>
                       </div>
                  </div>
                 <div class="field email required">
                    <div class="control">
                        <input name="email" id="email" class="input-text" type="email" maxlength="40" size="40" placeholder="<?= $block->escapeHtml(__('Email Address')) ?>"  data-validate="{required:true, 'validate-emails':true}" />
                    </div>
                 </div>
                 <div class="field file required">
                     <div class="control">
                        <input  name="file" id="fileimg"  class="input-file" type="file" accept="image/*" data-validate="{required:true, 'required-file':true}" >
                     </div>
                 </div>
                 <?= $block->getChildHtml('form.additional.info') ?>
                </fieldset>
            </div>
            <div class="actions-toolbar">
               <div class="primary">
                    <button type="submit" id="add" title="" class="action submit primary">
                         <span><?= $block->escapeHtml(__('Save post')) ?></span>
                    </button>
                </div>
            </div>
       </div>    
       </form>
      </div> 

      </div>



  <div class="list-blog">
   <?php if ($collection->count()): ?>
   <?php foreach ($collection as $item): ?>
    <div class="item-blog">
        <div class="item-blog-head">
             <div class="item-blog-title">    
            <h2><?php echo $item->getTitle() ?> </h2>
              </div> 
              <div class="item-blog-date">
              <h3><?php echo date('d-m-Y', strtotime($item->getCreatedAt())); ?></h3>
              </div> 
        </div>
        <div class="item-blog-info">
        <?php if($item->getFile()): ?>
            <div class="item-blog-img"> 
                    <img src="<?= $block->getViewFileUrl('Omni_Blog::'.$item->getFile())?>" alt="" />
            </div> 
        <?php endif; ?>
             <div class="item-blog-comment"> 
                  <p><?php echo $item->getComment() ?></p>
            </div> 
        </div>
    </div>

    <?php endforeach; ?>
    <?php endif; ?>

  </div>
</div>



<script type="text/x-magento-init">
{
        "*": {
            "Omni_Blog/js/blog" : {  "dataUrl": "<?php echo $block->getViewFileUrl('Omni_Blog::'); ?>" }
        }
}
</script>